#mapControls{
    > * {
        position: absolute;
        z-index: 100000;
    }

    .top-left{
        top: 10px;
        padding-left: 10px;
        left: 0;
    }

    .top-right{
        top: 10px;
        padding-right: 10px;
        right: 0;
    }

    .bottom-left{
        width: 50%;
        bottom: 10px;
        padding-left: 10px;
        left: 0;

        .name{
            background-color: white;
            padding: 2px;
        }
    }

    .bottom-right{
        width: 50%;
        bottom: 10px;
        right: 0;
        padding-right: 10px;
        text-align: right;

        .legenda{
            width: 200px;
            padding: 20px;
            float: right;
            background-color: rgba(255, 255, 255, .6);

            ul{
                list-style: none;
            }
        }
    }
}